@model IEnumerable<MedicalAppointment.Models.ApplicationUser>
@{
    ViewData["Title"] = "Danh sách bệnh nhân";
    int i = 0;
}
<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>STT</th>
            <th>Tên bệnh nhân</th>
            <th>Ngày sinh</th>
            <th>Giới tính</th>
            <th>Địa chỉ</th>
            <th>Số điện thoại</th>
            <th>Email</th>

            <th>...</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            i++;
            <tr>
                <td>@i </td>
                <td>@user.FullName</td>
                <td>@String.Format("{0:dd/MM/yyyy}", @user.DateOfBirth)</td>
                <td>@user.Gender</td>
                <td>@user.Address </td>
                <td>@user.PhoneNumber</td>
                <td>@user.Email</td>

                <td>
                    <a asp-action="Edit" asp-route-id="@user.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@user.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@user.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>